<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <php>
        <var name="beanstalkd_host" value="localhost" />
        <var name="beanstalkd_port" value="11300" />

        <var name="rabbit_host" value="localhost" />
        <var name="rabbit_port" value="5672" />
        <var name="rabbit_user" value="queue_user" />
        <var name="rabbit_pass" value="queue_pass" />
        <var name="rabbit_vhost" value="queue_vhost" />

<!--         <var name="iron_token" value="YOUR_TOKEN_HERE" />
        <var name="iron_project_id" value="YOUR_PROJECT_HERE" /> -->
    </php>

    <testsuites>
        <testsuite name="Indigo Queue Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>